#ciinabox default config
ciinabox_version: 0.1

ciinabox_name: <%= ciinabox_name %>

aws_profile: <%= ciinabox_name %>

aws_region: <%= ciinabox_region %>

aws_account_id: <%= ciinabox_aws_account %>

#override S3 bucket location
source_bucket: <%= ciinabox_source_bucket %>

#ciinabox ECS cluster name
cluster_name: ciinabox

#log level - change to :debug to see the AWS commands being executed
log_level: :info

#change this to your own dns_domain
#domain needs to be manage via route53 since the cloudformation adds additional records
dns_domain: <%= ciinabox_tools_domain %>

#change this to your own timezone
timezone: GMT

#AWS Availability Zones Idenifers
availability_zones:
  - 'A'
  - 'B'

azId:
  A: 0
  B: 1
  C: 2
  D: 3
  E: 4

# Uncomment below to enable ciinabox environment scheduling
# times are in UTC
# scale_up_schedule: 0 7 * * 1-5
# scale_down_schedule: 0 19 * * *

#ciinabox environment config
Mappings:
  EnvironmentType:
    ciinabox:
      KeyName: ciinabox
      SSLCertARN: "arn:aws:iam::<%= ciinabox_aws_account %>:server-certificate/ciinabox"
      NetworkPrefix: 10
      StackOctet: 150
      StackMask: 16
      SubnetMask: 26
      NatInstanceType: t2.micro
      ECSInstanceType: t2.large

#Subnet offsets 10.150.x.0/26
vpc:
  SubnetOctetA: "0"
  SubnetOctetB: "1"
ecs:
  SubnetOctetA: "2"
  SubnetOctetB: "3"

#Amazon Linux AMI 2015.03.1 (HVM), SSD Volume Type
natAMI:
  us-east-1:
    ami: ami-60b6c60a
  us-west-2:
    ami: ami-f0091d91
  ap-southeast-2:
    ami: ami-48d38c2b
  eu-west-1:
    ami: ami-bff32ccc

ecs_ami:
  us-east-1:
    ami: ami-6ff4bd05
  us-west-2:
    ami: ami-313d2150
  ap-southeast-2:
    ami: ami-00e7bf63
  eu-west-1:
    ami: ami-8073d3f3

#Environment Access
#add list of public IP addresses you want to access the environment from
#default to public access probably best to change this
opsAccess:
  - <%=my_public_ip%>
#add list of public IP addresses for your developers to access the environment
#default to public access probably best to change this
devAccess:
  - <%=my_public_ip%>
#Webhook access only via https
webHooks:
  - 192.30.252.0/22 #github

# Upload a default ssl cert to AWS to be used by default to ciinabox service ELBs
default_ssl_cert_id: "arn:aws:iam::<%= ciinabox_aws_account %>:server-certificate/ciinabox"

#extra_stacks:
#  elk:
#    role: search
