#Sample file of what your params.yml file should include

#ciinabox default config
ciinabox_version: 0.1

ciinabox_name: example

aws_profile: example

aws_region: us-east-1

aws_account_id: 198712987398

#override S3 bucket location
source_bucket: source.aws.example.com

#add if you want ecs docker volume != 22GB - must be > 22
#ecs_docker_volume_size: 100

#use this to change volume snapshot for running ciinabox
#ecs_data_volume_name: "ECSDataVolume2s"

#set the snapshot to restore from
#ecs_data_volume_snapshot: snap-49e2b3b5

#optional ciinabox name if you need more than one or you want a different name
#stack_name: ciinabox-tools

#for internal elb for jenkins
#internal_elb: false

#ciinabox ECS cluster name
cluster_name: ciinabox

#log level - change to :debug to see the AWS commands being executed
log_level: :info

#change this to your own dns_domain
#domain needs to be manage via route53 since the cloudformation adds additional records
dns_domain: tools.aws.example.com

#AWS Availability Zones Idenifers
availability_zones:
  - 'A'
  - 'B'

azId:
  A: 0
  B: 1
  C: 2
  D: 3
  E: 4

#ciinabox environment config
Mappings:
  EnvironmentType:
    ciinabox:
      KeyName: ciinabox
      SSLCertARN: "arn:aws:iam::198712987398:server-certificate/ciinabox"
      NetworkPrefix: 10
      StackOctet: 150
      StackMask: 16
      SubnetMask: 26
      NatInstanceType: t2.micro
      ECSInstanceType: t2.large

#Subnet offsets 10.150.x.0/26
vpc:
  SubnetOctetA: "0"
  SubnetOctetB: "1"
ecs:
  SubnetOctetA: "2"
  SubnetOctetB: "3"

#Amazon Linux AMI 2015.03.1 (HVM), SSD Volume Type
natAMI:
  us-east-1:
    ami: ami-60b6c60a
  us-west-2:
    ami: ami-f0091d91
  ap-southeast-2:
    ami: ami-48d38c2b
  eu-west-1:
    ami: ami-bff32ccc

ecs_ami:
  us-east-1:
    ami: ami-cb2305a1
  us-west-2:
    ami: ami-ec75908c
  ap-southeast-2:
    ami: ami-83af8ae0
  eu-west-1:
    ami: ami-13f84d60

#Environment Access
#add list of public IP addresses you want to access the environment from
#default to public access probably best to change this
opsAccess:
  - 44.33.123.223/32

#add list of public IP addresses for your developers to access the environment
#default to public access probably best to change this
devAccess:
  - 213.120.111.2/32 #Example

# Upload a default ssl cert to AWS to be used by default to ciinabox service ELBs
default_ssl_cert_id: "arn:aws:iam::198712987398:server-certificate/ciinabox"


#extra_stacks:
#  elk:
#    #define template name? - optional
#    file_name: elk
#    parameters:
#      RoleName: search
#      CertName: x
#      SubnetOctetA: 11
#      SubnetOctetB: 12
